.gallery {
    line-height: 0;
    width: 100%;
    video, img {
        display: block;
        margin-bottom: 8rem;
        max-width: 100%;
        transition: transform 1s linear, opacity 1s linear;
        transform: translateY(100%);
    }
}

.gallery .loaded {
    transform: translateY(0);
}
