.over-title {
    margin-top: 7.5rem;
    position: relative;
    padding-bottom: 15px;
    justify-content: space-between;
}

.about-content {
    justify-content: space-between;
    flex-wrap: wrap;

    p {
        width: 75%;
        padding: 0 1rem;
    }
}

.header-sticky {
    position: absolute;
    display: block;
    left: 80%;
    top: 10px;
    width: 2.35rem;
}

@include max635px {
    .over-title {
        margin-top: 3rem;
    }
    .about {
        flex-direction: column;

        &-content {
            flex-direction: column;

            p {
                width: 100%;
            }
        }
    }
    .header {
        &-sticky {
            width: 6rem;
            left: 88%;
            top: 45%;
        }

        &-title {
            margin: 10rem 0;
        }
    }
    .sidebar {
        margin: 7.5rem 0 0 0;
        display: flex;
        justify-content: flex-start;
        padding: 0 1rem;

        & li {
            margin-right: 5rem;
        }
    }
}
